.article__title {
  font-family: $font-2;
  color: $font-color-1;
  font-size: 36px;
  margin-bottom: 20px;

  @include respond-to('mobile') {
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
  }

  @include respond-to('tablet') {
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
  }
}

.article__text {
  font-size: 16px;
  font-family: $font-2;
  color: $font-color-1;
  line-height: 18px;
}

.article__text--white {
  margin-bottom: 10px;
  color: $font-color-2;
  font-weight: bold;

    &--no-margin {
      margin-bottom: 0 !important;
    }
}