.button {
  outline: none;
  user-select: none;
  border: 1px solid black;
  cursor: pointer;
  font-family: $font-2;
  color: #E4E4E4;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  background: $font-color-3;
  padding: 11px 42px;

  &--big {
    padding: 16px 92px;

    @include respond-to('mobile') {
      padding: 0;
      width: 270px;
      height: 55px;
    }

    @include respond-to('tablet') {
      padding: 0;
      width: 270px;
      height: 55px;
    }

    @include respond-to('laptop') {
      padding: 0;
      width: 270px;
      height: 55px;
    }
  }
}