.modal {
  position: relative;

  &__title {
    font-family: $font-1;
    line-height: 40px;
    font-size: 36px;
    color: $font-color-1;
    font-weight: 700;

    @include respond-to('mobile') {
      font-size: 32px;
      line-height: 40px;
      text-align: center;
    }

    @include respond-to('tablet') {
      font-size: 32px;
      line-height: 40px;
      text-align: center;
    }
  }

  &__contact {
    font-size: 16px;
    font-weight: 400;
    color: $font-color-1;
    line-height: 26px;

    @include respond-to('mobile') {
      font-size: 14px;
      line-height: 26px;
      margin-top: 5px;
      text-align: center;
    }

    @include respond-to('tablet') {
      font-size: 14px;
      line-height: 26px;
      margin-top: 5px;
      text-align: center;
    }
  }

  &__close {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    width: 36px;
    height: 36px;
    background: transparent;
    border-radius: 50%;
    transform: rotate(45deg);

    &__btn {
      background: #FFFFFF;
      width: 2px;
      height: 25px;
      position: absolute;
      left: calc((100% - 3px) / 2);
      top: 5px;

      &--twisted {
        @extend .modal__close__btn;
        transform: rotate(90deg);
      }
    }
  }

  &__wrapper, &__form__wrapper, &__form__wrapper--question {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    content: '';
    background: rgba(28, 28, 28, 0.91);
    display: none;
    z-index: 5;
  }

  &__video {
    animation-name: fade-in;
    animation-duration: .4s;
    margin: 20vh auto;
    display: block;
    width: 60vw;
    height: 60vh;
    z-index: 6;

    @include respond-to('mobile') {
      width: 80vw;
      height: 30vh;
    }

    @include respond-to('tablet') {
      width: 80vw;
      height: 30vh;
    }
  }

  &__form {
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
    animation-name: fade-in;
    animation-duration: .4s;
    margin: 10vh auto;
    background: $bg-color-1;
    width: 373px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 6;

    @include respond-to('mobile') {
      width: 85%;
      padding: 0;
    }

    @include respond-to('tablet') {
      width: 85%;
      padding: 0;
    }
  }

  &__form__wrapper--question {
    .modal__form {
      width: 393px;

      @include respond-to('mobile') {
        width: 92%;
        padding: 0;
      }

      @include respond-to('tablet') {
        width: 92%;
        padding: 0;
      }
    }
  }
}

.iframe {
  width: 60vw;
  height: 60vh;

  @include respond-to('mobile') {
    width: 80vw;
    height: 30vh;
  }

  @include respond-to('tablet') {
    width: 80vw;
    height: 30vh;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    margin: -100vh auto 0 auto;
  }
  to {
    opacity: 1;
    margin: 10vh auto;
  }
}

.form {
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px auto 0 auto;

  @include respond-to('mobile') {
    margin: 0 auto;
  }

  @include respond-to('tablet') {
    margin: 0 auto;
  }

  & > input, textarea {
    background: #000000;
    border: 1px solid #DADADA;
    box-sizing: border-box;
    margin-top: 10px;
    width: 100%;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 32px;
    font-family: $font-2;
    padding: 10px 15px;

    &::placeholder {
      color: #E4E4E4;
    }

    @include respond-to('tablet') {
      margin-top: 15px;
    }
  }

  &__button {
    margin-top: 10px;
    width: 100%;
    padding: 16px 0;

    @include respond-to('tablet') {
      margin-top: 30px;
    }
  }

  &__phone {
    margin-top: 15px;
    font-size: 16px;
    line-height: 26px;
    font-family: $font-2;
    color: #E4E4E4;
  }

  & > a {
    text-decoration: none;
    font-size: 16px;
    line-height: 26px;
    font-family: $font-2;
    color: #E4E4E4;
  }

  &__terms {
    width: 80%;
    margin-top: 15px;
    font-size: 12px;
    line-height: 18px;
    font-family: $font-2;
    color: #666666;
    text-align: center;

    & > span {
      text-decoration: underline;
    }

    a {
      color: inherit;
      text-decoration: underline;
    }
  }

}
