@mixin respond-to($screen) {
  $raw-query: map-get($screens, $screen);
  @if $raw-query {
    $query: if(type-of($raw-query) == 'string', unquote($raw-query), inspect($raw-query));
    @media #{$query} {
      @content;
    }
  } @else {
    @error 'Not found value #{$screen}. Check value in variable $screens'
  }
}