.creative {
  margin: 35px 0 72px 0;
  position: relative;

  @include respond-to('laptop') {
    margin: 0 0 50px 0;
  }

  .article__text {
      position: relative;
    & > p {

      @include respond-to('mobile') {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
      }

      @include respond-to('tablet') {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &__article {
    position: relative;
    z-index: 2;
    height: 300px;
    background: $bg-color-2;
    padding: 30px 0 0 40px;
    box-sizing: border-box;

    @include respond-to('mobile') {
      height: unset;
      text-align: center;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-sizing: border-box;
    }

    @include respond-to('tablet') {
      height: unset;
      text-align: center;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-sizing: border-box;
    }

    @include respond-to('laptop') {
      box-sizing: unset;
    }

    & > .article__title {
      position: relative;
    }

    &:before {
      content: '';
      position: absolute;
      transform: rotate(34deg);
      left: 610px;
      top: -100px;
      width: 0;
      height: 0;
      border-left: 65px solid transparent;
      border-right: 65px solid transparent;
      border-bottom: 191px solid $bg-color-2;

      @include respond-to('mobile') {
        display: none;
      }

      @include respond-to('tablet') {
        display: none;
      }

      @include respond-to('laptop') {
        left: 410px;
      }

      @include respond-to('desktop') {
        left: 410px;
      }
    }

    &:after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-bottom: 34px solid $font-color-4;
      border-left: 34px solid transparent;
    }

    &__text {
      margin-bottom: 40px;

      @include respond-to('mobile') {
        margin-bottom: 30px;
      }

      @include respond-to('tablet') {
        margin-bottom: 30px;
      }
    }
  }

  &__ball--1 {
    width: 329px;
    height: 329px;
    top: 22px;
    left: -101px;

    @include respond-to('mobile') {
      width: 252px;
      height: 252px;
      left: -35px;
      bottom: -30px;
      top: unset;
    }

    @include respond-to('tablet') {
      width: 252px;
      height: 252px;
      left: -35px;
      bottom: -30px;
      top: unset;
    }
  }

  &__ball--2 {
    width: 147px;
    height: 147px;
    bottom: 18px;
    right: 118px;

    @include respond-to('mobile') {
      width: 252px;
      height: 252px;
      left: 135px;
      top: -40px;
      bottom: unset;
      right: unset;
    }

    @include respond-to('tablet') {
      width: 252px;
      height: 252px;
      left: 135px;
      top: -40px;
      bottom: unset;
      right: unset;
    }
  }
}