.examples {
  position: relative;
  margin-top: 80px;

  &__ball {

    &--1 {
      width: 254px;
      height: 254px;
      left: 26px;
      top: 303px;

      @include respond-to('mobile') {
        display: none;
      }

      @include respond-to('tablet') {
        display: none;
      }
    }

    &--2 {
      width: 547px;
      height: 547px;
      right: 287px;
      top: 29px;

      @include respond-to('mobile') {
        display: none;
      }

      @include respond-to('tablet') {
        display: none;
      }
    }

    &--3 {
      width: 104px;
      height: 104px;
      right: 65px;
      top: 393px;

      @include respond-to('mobile') {
        display: none;
      }

      @include respond-to('tablet') {
        display: none;
      }
    }
  }

  &__cards__slide {
    width: 100%;
    height: 247px;
    overflow-y: hidden;

    &:hover .examples__cards__slide__text {
      margin-top: 186px;

      @include respond-to('tablet') {
        margin-top: 286px;
      }
    }


    @include respond-to('tablet') {
      height: 347px;
    }

    &__text {
      height: 61px;
      width: 100%;
      font-family: $font-2;
      color: $font-color-1;
      font-weight: bold;
      font-size: 16px;
      line-height: 21px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      background: $bg-color-2;
      margin-top: 247px;
      transition: all .4s ease;

      @include respond-to('tablet') {
        margin-top: 347px;
      }
    }

    &--1 {
      background: url("../img/example1.jpg") no-repeat center center;
      background-size: cover;
    }

    &--2 {
      background: url("../img/example2.jpg") no-repeat center center;
      background-size: cover;
    }

    &--3 {
      background: url("../img/example3.jpg") no-repeat center center;
      background-size: cover;
    }

    &--4 {
      background: url("../img/example4.jpg") no-repeat center center;
      background-size: cover;
    }

    &--5 {
      background: url("../img/example5.jpg") no-repeat center center;
      background-size: cover;
    }

    &--6 {
      background: url("../img/example6.jpg") no-repeat center center;
      background-size: cover;
    }

    &--7 {
      background: url("../img/example7.jpg") no-repeat center center;
      background-size: cover;
    }

    &--8 {
      background: url("../img/example8.jpg") no-repeat center center;
      background-size: cover;
    }

    &--9 {
      background: url("../img/example9.jpg") no-repeat center center;
      background-size: cover;
    }
  }

  &__cards__wrapper {
    margin-top: 40px;
    display: grid;
    grid-template-rows: repeat(3, 247px);
    grid-template-columns: repeat(3, 370px);
    grid-gap: 30px;
    position: relative;
    z-index: 2;

    @include respond-to('mobile') {
      display: none;
    }

    @include respond-to('tablet') {
      display: none;
    }

    @include respond-to('laptop') {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    &--mobile {
      display: none;
      margin-top: 20px;
      overflow-x: hidden;

      @include respond-to('mobile') {
        display: block;
      }

      @include respond-to('tablet') {
        display: block;
      }
    }
  }

  &__card {
    background-size: cover;
    overflow-y: hidden;
    position: relative;

    @include respond-to('laptop') {
      width: 370px;
      height: 247px;

      &:last-child {
        margin: 0 auto;
      }
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: $bg-color-3;
      transition: all .3s ease;
    }

    &:hover &__text {
      margin-top: 186px;
    }

    &:hover:after {
      background: rgba(0,0,0,0);
    }

    &--1 {
      background: url("../img/example1.jpg") no-repeat center center;
    }

    &--2 {
      background: url("../img/example2.jpg") no-repeat center center;
    }

    &--3 {
      background: url("../img/example3.jpg") no-repeat center center;
    }

    &--4 {
      background: url("../img/example4.jpg") no-repeat center center;
    }

    &--5 {
      background: url("../img/example5.jpg") no-repeat center center;
    }

    &--6 {
      background: url("../img/example6.jpg") no-repeat center center;
    }

    &--7 {
      background: url("../img/example7.jpg") no-repeat center center;
    }

    &--8 {
      background: url("../img/example8.jpg") no-repeat center center;
    }

    &--9 {
      background: url("../img/example9.jpg") no-repeat center center;
    }

    &__text {
      transition: all .3s ease;
      height: 61px;
      font-family: $font-2;
      color: $font-color-1;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      background: $bg-color-2;
      margin-top: 247px;
    }
  }
}

.swiper-container-horizontal>.swiper-scrollbar {
  position: absolute;
  width: 50%;
  bottom: -20px;
  z-index: 2;
  height: 3px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background: #2F2F2F;

}

.examples__scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, .1);

  .swiper-scrollbar-drag {
    height: 300%;
    width: 100%;
    position: relative;
    background: $font-color-3;
    border-radius: 10px;
    left: 0;
    top: -100%;
  }
}