.feedback {
  margin-top: 100px;
  position: relative;
  padding-top: 95px;

  &__button {
    margin: 20px auto 0 auto;
    display: block;
    position: relative;
    z-index: 2;

  }

  .article__text {

    @include respond-to('mobile') {
      font-size: 18px;
      line-height: 20px;
    }

    @include respond-to('tablet') {
      font-size: 18px;
      line-height: 20px;
    }

    @include respond-to('laptop') {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__ball {

    &--1 {
      width: 213px;
      height: 213px;
      left: 101px;
      top: 28px;

      @include respond-to('mobile') {
        display: none;
      }

      @include respond-to('tablet') {
        display: none;
      }

      @include respond-to('laptop') {
        display: none;
      }
    }

    &--2 {
      width: 204px;
      height: 204px;
      right: -87px;
      bottom: 120px;

      @include respond-to('mobile') {
        display: none;
      }

      @include respond-to('tablet') {
        display: none;
      }

      @include respond-to('laptop') {
        display: none;
      }
    }

    &--3 {
      width: 108px;
      height: 108px;
      left: 99px;
      bottom: 40px;

      @include respond-to('mobile') {
        display: none;
      }

      @include respond-to('tablet') {
        display: none;
      }

      @include respond-to('laptop') {
        display: none;
      }
    }
  }

  .section__title {
    margin-bottom: 30px;
  }

  &__content {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;

    @include respond-to('mobile') {
      flex-direction: column;
    }

    @include respond-to('tablet') {
      flex-direction: column;
    }

    @include respond-to('laptop') {
      flex-direction: column;
    }

    &__article {
      text-align: justify;
      font-weight: 300;

      @include respond-to('mobile') {
        text-align: left;
      }

      @include respond-to('tablet') {
        text-align: left;
      }

      @include respond-to('laptop') {
        text-align: left;
      }

      & > p {
        margin-bottom: 15px;

        @include respond-to('mobile') {
          margin-bottom: 25px;
        }

        @include respond-to('tablet') {
          margin-bottom: 25px;
        }

        @include respond-to('laptop') {
          margin-bottom: 25px;
        }
      }
    }

    &__image {
      width: 585px;
      height: 520px;
      background: url("../img/why.jpg") no-repeat center center;
      background-size: cover;

      @include respond-to('mobile') {
        height: 252px;
        width: 100%;
        display: none;
      }

      @include respond-to('tablet') {
        height: 352px;
        width: 100%;
        display: none;
      }

      @include respond-to('laptop') {
        height: 452px;
        width: 100%;
        display: none;
      }

      &--mobile {
        display: none;

        @include respond-to('mobile') {
          display: block;
          margin: 25px 0;
        }

        @include respond-to('tablet') {
          display: block;
          margin: 25px 0;
        }

        @include respond-to('laptop') {
          display: block;
          margin: 25px 0;
        }
      }
    }

    &__text {
      width: calc(100% - 615px);

      @include respond-to('mobile') {
        width: 100%;
      }

      @include respond-to('tablet') {
        width: 100%;
      }

      @include respond-to('laptop') {
        width: 100%;
      }
    }

    &__footer {
      text-align: justify;
      position: relative;
      z-index: 2;

      @include respond-to('mobile') {
        text-align: left;
      }

      @include respond-to('tablet') {
        text-align: left;
      }

      @include respond-to('laptop') {
        text-align: left;
      }
    }
  }
}

.red__decor {
  position: relative;
  margin-left: 8px;
  font-weight: 300;

  @include respond-to('mobile') {
    margin-left: 0;
  }

  @include respond-to('tablet') {
    margin-left: 0;
  }

  @include respond-to('laptop') {
    margin-left: 0;
  }

  &:before {
    content: '';
    position: absolute;
    left: -8px;
    top: 0;
    height: 100%;
    width: 4px;
    background: $font-color-4;

    @include respond-to('mobile') {
      display: none;
    }

    @include respond-to('tablet') {
      display: none;
    }

    @include respond-to('laptop') {
      display: none;
    }
  }
}