.footer {
  position: relative;
  margin-top: 60px;
  box-sizing: border-box;
  height: 230px;
  overflow: hidden;

  @include respond-to('tablet') {
    height: 320px;
  }

  @include respond-to('mobile') {
    height: 390px;
  }

  &__ball {

    &--1 {
      width: 335px;
      height: 335px;
      left: -112px;
      bottom: -184px;

      @include respond-to('mobile') {
        display: none;
      }

      @include respond-to('tablet') {
        display: none;
      }
    }

    &--2 {
      width: 670px;
      height: 670px;
      right: -423px;
      bottom: -402px;

      @include respond-to('mobile') {
        display: none;
      }

      @include respond-to('tablet') {
        display: none;
      }
    }
  }

  &__logo {
    width: 115px;
    height: 115px;
    background: url("../img/logo.png") no-repeat center center;
    background-size: cover;
  }

  &__rights {
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;
    font-family: $font-2;
    color: rgba(255, 255, 255, 0.502972);
    text-align: center;
    user-select: none;

    & > a {
      text-decoration: none;
      cursor: pointer;
      transition: all .3s ease;
      color: rgba(255, 255, 255, 0.502972);

      &:hover {
        color: rgba(255, 255, 255, 0.8);
      }
    }

    @include respond-to('mobile') {
      order: 3;
    }

    @include respond-to('tablet') {
      order: 3;
    }

    @include respond-to('laptop') {
      width: 63%;
    }
  }

  &__social {
    display: flex;

    @include respond-to('mobile') {
      order: 2;
    }

    @include respond-to('tablet') {
      order: 2;
    }

    & > a {
      display: block;
      margin-right: 20px;
    }
  }

  &__icon {
    width: 41px;
    height: 41px;
    background-size: cover;
    position: relative;

    &:last-child {
      margin-right: 0;
    }

    &--1 {
      background: url("../img/inst.png") no-repeat center center;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border-radius: 50%;
        width: 17px;
        height: 17px;
        background: #B2084380;
      }
    }

    &--2 {
      background: url("../img/yt.png") no-repeat center center;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 7px;
        height: 7px;
        background: url("../img/play.png");
      }
    }

    &--3 {
      background: url("../img/fb.png") no-repeat center center;
    }
  }

  .content__wrapper {
    border-top: 1px solid #2F2F2F;
    padding-top: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;

    @include respond-to('mobile') {
      border: none;
      flex-direction: column;
      padding-top: 0;
    }

    @include respond-to('tablet') {
      border: none;
      flex-direction: column;
      padding-top: 0;
    }
  }
}