.geography {
  margin-top: 100px;
  position: relative;

  &__button {
    margin: 40px auto 0 115px;

    @include respond-to('mobile') {
      position: absolute;
      top: calc(100% + 274px);
      margin-top: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }

    @include respond-to('tablet') {
      position: absolute;
      top: calc(100% + 274px);
      margin-top: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__ball--1 {
    width: 82px;
    height: 82px;
    top: 270px;
    left: 106px;

    @include respond-to('mobile') {
      width: 237px;
      height: 237px;
      top: unset;
      bottom: 25px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }

    @include respond-to('tablet') {
      width: 237px;
      height: 237px;
      top: unset;
      bottom: 25px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__ball--2 {
    width: 533px;
    height: 533px;
    top: 30px;
    left: 479px;

    @include respond-to('mobile') {
      display: none;
    }

    @include respond-to('tablet') {
      display: none;
    }
  }

  &__ball--3 {
    width: 251px;
    height: 251px;
    top: 40px;
    right: 15px;

    @include respond-to('mobile') {
      display: none;
    }

    @include respond-to('tablet') {
      display: none;
    }
  }

  .content__wrapper {
    width: 65%;
    display: flex;
    justify-content: space-between;

    @include respond-to('mobile') {
      flex-direction: column;
      width: 80%;
    }

    @include respond-to('tablet') {
      flex-direction: column;
      width: 80%;
    }

    @include respond-to('laptop') {
      width: 80%;
    }

    @include respond-to('desktop') {
      width: 80%;
    }
  }

  &__map {
    position: relative;
    z-index: 2;
    width: 750px;
    height: 560px;
    background: url("../img/map.png") no-repeat center center;
    background-size: cover;

    @include respond-to('mobile') {
      width: 100%;
      height: 254px;
      order: 2;
      margin-top: 20px;
    }

    @include respond-to('tablet') {
      width: 100%;
      height: 254px;
      order: 2;
      margin-top: 20px;
    }

    @include respond-to('laptop') {
      height: 246px;
      width: 40%;
      background-size: contain;
    }

    @include respond-to('desktop') {
      background-size: contain;
      width: 700px;
    }
  }

  &__content {
    width: calc(100% - 790px);
    position: relative;
    z-index: 2;

    @include respond-to('mobile') {
      width: 100%;
      order: 1;
    }

    @include respond-to('tablet') {
      width: 100%;
      order: 1;
    }

    @include respond-to('laptop') {
      width: 59%;
    }

    @include respond-to('desktop') {
      width: calc(100% - 700px);
    }

    &__list_wrapper {
      display: flex;
      font-size: 14px;

      @include respond-to('mobile') {
        height: unset;
        justify-content: space-between;
      }

      @include respond-to('tablet') {
        height: unset;
        justify-content: space-between;
      }
      
      & > ul {
        width: 50%;
        text-align: left;
        list-style: inside;

        @include respond-to('mobile') {
          width: 43%;
        }

        @include respond-to('tablet') {
          width: 43%;
        }

        & > li {
          @include respond-to('mobile') {
            font-weight: 300;
            font-size: 11px;
            line-height: 16px;
          }

          @include respond-to('tablet') {
            font-weight: 300;
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
    }

    &__text {
      margin-top: 20px;
      font-size: 16px;
      font-family: $font-2;
      color: $font-color-1;
      line-height: 18px;

      & > p:first-child {

        @include respond-to('mobile') {
          line-height: 23px;
          font-size: 19px;
        }

        @include respond-to('tablet') {
          line-height: 23px;
          font-size: 19px;
        }
      }

      & > .article__text--white {
        margin-top: 20px;

        @include respond-to('mobile') {
          line-height: 23px;
          font-size: 19px;
        }

        @include respond-to('tablet') {
          line-height: 23px;
          font-size: 19px;
        }
      }
    }
  }
}