.burger {
  width: 48px;
  height: 48px;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 7px;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  &--active {

    & > div:first-child {
      transform: rotate(45deg);
      position: absolute;
      margin-top: 0;
      top: 50%;
    }

    &  > div:nth-child(2) {
      display: none;
    }

    & > div:last-child {
      transform: rotate(-45deg);
      position: absolute;
      top: 50%;
    }
  }

  &__line {
    width: 22px;
    height: 2px;
    background: #D8D8D8;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.header {
  width: 100vw;
  height: 100vh;
  position: relative;

  &--mobile {
    display: none;
    height: 58px;
    width: 100%;
    background: $bg-color-2;
    position: fixed;
    top: 0;
    z-index: 4;
    justify-content: space-between;
    align-items: center;

    & > a {
      display: block;
      margin-left: 5%;
    }

    &__menu__wrapper {
      position: fixed;
      top: 57px;
      width: 100%;
      height: 60vh;
      background: linear-gradient(180deg, rgba(28,28,28,0.91) 0%, rgba(28,28,28,1) 74%);
      z-index: 4;
      text-align: center;

      .menu__phone {
        margin-top: 100px;
        display: inline-block;
      }

      &__social {
        margin-top: 15px;
        display: flex;
        justify-content: center;

        & > a {
          display: inline-block;
          margin-left: 10px;

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }

    &__logo {
      width: 46px;
      height: 46px;
      background: url("../img/logo.png") no-repeat center center;
      background-size: cover;
    }

    @include respond-to('mobile') {
      display: flex;
    }

    @include respond-to('tablet') {
      display: flex;
    }
  }

  &__ball--1 {
    width: 256px;
    height: 256px;
    top: -47px;
    left: 20px;

    @include respond-to('mobile') {
      width: 94px;
      height: 94px;
      top: 62px;
      left: 22px;
    }

    @include respond-to('tablet') {
      width: 94px;
      height: 94px;
      top: 62px;
      left: 22px;
    }
  }

  &__ball--2 {
    width: 82px;
    height: 82px;
    bottom: 117px;
    left: 214px;

    @include respond-to('mobile') {
      width: 159px;
      height: 159px;
      top: 248px;
      right: -44px;
      left: unset;
    }

    @include respond-to('tablet') {
      width: 159px;
      height: 159px;
      top: 248px;
      right: -44px;
      left: unset;
    }
  }

  &__ball--3 {
    display: none;
    width: 159px;
    height: 159px;
    bottom: 0;
    left: -44px;

    @include respond-to('mobile') {
      display: block;
    }

    @include respond-to('tablet') {
      display: block;
    }
  }

  &__photo {
    position: absolute;
    z-index: 1;
    width: 65%;
    height: 100%;
    right: 0;
    top: 0;
    background: url("../img/photo.jpg") no-repeat center center;
    background-size: cover;

    @include respond-to('mobile') {
      width: 125%;
      height: 35vh;
      top: 50vh;
      left: 0;
    }

    @include respond-to('tablet') {
      width: 125%;
      height: 39vh;
      top: 45vh;
      left: 0;
    }
  }

  &__promo {
    position: absolute;
    top: 220px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: $font-2;
    font-weight: 300;
    z-index: 2;

    @include respond-to('mobile') {
      top: 95px;
      width: 80%;
      height: 80%;
      align-items: center;
    }

    @include respond-to('tablet') {
      top: 95px;
      width: 80%;
      height: 80%;
      align-items: center;
    }

    &__title {
      font-family: $font-1;
      color: $font-color-2;
      font-size: 72px;

      @include respond-to('mobile') {
        font-size: 46px;
        line-height: 71px;
      }

      @include respond-to('tablet') {
        font-size: 56px;
        line-height: 71px;
      }
    }

    &__subtitle {
      color: $font-color-1;
      font-size: 36px;
      margin-top: 20px;
      line-height: 41px;

      @include respond-to('mobile') {
        font-size: 24px;
        line-height: 38px;
        text-align: center;
        margin-top: 15px;
      }

      @include respond-to('tablet') {
        font-size: 34px;
        line-height: 38px;
        text-align: center;
        margin-top: 15px;
      }
    }

    &__text {
      color: $font-color-5;
      font-size: 16px;
      margin-top: 20px;
      width: 85%;
      line-height: 18px;

      @include respond-to('mobile') {
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        margin-top: 15px;
      }

      @include respond-to('tablet') {
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        margin-top: 15px;
      }
    }

    &__button {
      margin-top: 45px;

      @include respond-to('mobile') {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
      }

      @include respond-to('tablet') {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .logo {
    text-decoration: none;
  }

  .menu {
    width: 60%;
    padding: 6px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $font-2;
    font-weight: 300;
    user-select: none;

    @include respond-to('laptop') {
      width: 80%;
    }

    @include respond-to('desktop') {
      width: 80%;
    }

    &--mobile {
      width: 55%;
      height: 30%;
      margin: 50px auto 0 auto;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .menu__link {
        color: $font-color-2;
        font-family: $font-2;
      }
    }

    &__logo {
      width: 61px;
      height: 61px;
      background: url("../img/logo.png") no-repeat center center;
      background-size: cover;
    }

    &__phone {
      text-decoration: none;
      color: $font-color-2;
      font-size: 20px;
      position: relative;

      @include respond-to('laptop') {
        font-size: 10px;
        display: block;
        margin-top: 5px;
      }

      &:before {
        content: '';
        position: absolute;
        left: -30px;
        top: 0;
        width: 22.5px;
        height: 22.5px;
        background: url("../img/phone.png") no-repeat center center;
        background-size: cover;

        @include respond-to('laptop') {
          width: 14px;
          height: 14px;
          left: -16px;
        }
      }
    }

    &__link {
      text-decoration: none;
      color: $font-color-5;
      font-size: 18px;
      transition: all .3s ease;

      @include respond-to('laptop') {
        font-size: 10px;
      }

      &:hover {
        color: $font-color-2;
      }
    }

    &__wrapper {
      width: 100%;
      position: fixed;
      top: 0;
      z-index: 4;
      background: $bg-color-2;

      @include respond-to('mobile') {
        display: none;
      }

      @include respond-to('tablet') {
        display: none;
      }
    }
  }
}

@media screen and (max-height: 380px) {

  .header__promo {
    top: 100px;
  }

  .header__promo__title {
    font-size: 39px;
  }

  .header__promo__subtitle {
    font-size: 20px;
    margin-top: 10px;
    line-height: 31px;
  }

  .header__promo__text {
    font-size: 11px;
    margin-top: 10px;
    line-height: 16px;
  }

  .header__promo__button {
    margin-top: 15px;
  }
  .menu__phone {
    margin-top: 6px;
    margin-left: 10px;
  }

  .creative__article:before {
    left: 300px;
  }

  .creative__article {
    height: unset;
  }

  .offers__article {
    height: unset;
  }

  .tabs__wrapper {
    width: 90%;
  }

  .footer__rights {
    width: 50%;
    font-size: 12px;
  }
}

@media screen and (max-height: 375px) and (max-width: 800px) {
  .footer__logo {
    display: none;
  }

  .footer__rights {
    width: 75% !important;
    font-size: 14px !important;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1340px) {
  .header {

    .menu__link {
      font-size: 12px;
    }

    .menu__phone {
      font-size: 12px;
      display: block;
      margin-top: 5px;
    }

    .menu__phone:before {
      width: 14px;
      height: 14px;
      left: -16px;
    }
  }
}

@media screen and (max-width: 369px) {
  .header__promo__title {
    font-size: 36px;
    line-height: 51px;
  }

  .header__promo__subtitle {
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    margin-top: 10px;
  }

  .header__promo__text {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin-top: 10px;
  }
}