.offers {
  position: relative;
  padding-top: 95px;

  &__article {
    margin-top: 50px;
    height: 210px;
    box-sizing: border-box;
    padding: 30px;
    position: relative;
    z-index: 2;
    background: $bg-color-2;

    @include respond-to('mobile') {
      margin-top: 120px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: unset;
    }

    @include respond-to('tablet') {
      margin-top: 120px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: unset;
    }

    &__button {

      @include respond-to('mobile') {
        margin-top: 20px;
      }

      @include respond-to('tablet') {
        margin-top: 20px;
      }
    }

    &__text__wrapper {
      display: flex;
      justify-content: space-between;

      @include respond-to('mobile') {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      @include respond-to('tablet') {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      @include respond-to('laptop') {
        align-items: center;
      }

      & > .article__text {
        width: 70%;

        @include respond-to('mobile') {
          width: 85%;
        }

        @include respond-to('tablet') {
          width: 85%;
        }

        @include respond-to('laptop') {
          width: 60%;
        }
      }
    }

    &:after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-bottom: 34px solid $font-color-4;
      border-left: 34px solid transparent;
    }
  }

  &__ball--1 {
    width: 379px;
    height: 379px;
    left: 178px;
    top: 490px;

    @include respond-to('mobile') {
      display: none;
    }

    @include respond-to('tablet') {
      display: none;
    }
  }

  &__ball--2 {
    width: 275px;
    height: 275px;
    right: -185px;
    top: 371px;

    @include respond-to('mobile') {
      display: none;
    }

    @include respond-to('tablet') {
      display: none;
    }
  }

  &__ball--3 {
    width: 447px;
    height: 447px;
    right: 400px;
    top: 10px;

    @include respond-to('mobile') {
      display: none;
    }

    @include respond-to('tablet') {
      display: none;
    }
  }

  &__cards__wrapper {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 30px;

    @include respond-to('mobile') {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @include respond-to('tablet') {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @include respond-to('laptop') {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }

  &__card {
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    width: 370px;
    height: 434px;
    background: rgba(15, 15, 15, 0.86);
    text-align: center;
    transition: all .4s ease;
    backdrop-filter: blur(10px);
    user-select: none;

    &:hover {
      transform: scale(1.05);
      background: rgba(28,28,28,.61);
      border-radius: 7px;
      box-shadow: 0 5px 25px 3px rgba(255, 255,255,.1);
    }

    @include respond-to('mobile') {
      background: transparent;
      height: unset;
      width: unset;
      padding: 0;
    }

    @include respond-to('tablet') {
      background: transparent;
      height: unset;
      width: unset;
      padding: 0;
    }


    &--large {
      height: 449px;

      @include respond-to('mobile') {
        height: unset;
      }

      @include respond-to('tablet') {
        height: unset;
      }
    }

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__icon {
      width: 75px;
      height: 75px;
      background-size: contain;

      &--1 {
        background: url("../img/card1.png") no-repeat center center;
      }

      &--2 {
        background: url("../img/card2.png") no-repeat center center;
      }

      &--3 {
        background: url("../img/card3.png") no-repeat center center;
      }

      &--4 {
        background: url("../img/card4.png") no-repeat center center;
      }

      &--5 {
        background: url("../img/card5.png") no-repeat center center;
      }

      &--6 {
        background: url("../img/card6.png") no-repeat center center;
      }
    }

    &__title {
      font-size: 20px;
      color: $font-color-2;
      font-family: $font-1;
      width: 71%;
      line-height: 29px;
      text-align: left;

      @include respond-to('mobile') {
        width: 65%;
      }

      @include respond-to('tablet') {
        width: 65%;
      }
    }

    &__text {
      margin-top: 30px;
      font-size: 16px;
      line-height: 18px;
      font-family: $font-2;
      color: $font-color-1;
      text-align: left;

      @include respond-to('mobile') {
        font-size: 15px;
      }

      @include respond-to('tablet') {
        font-size: 15px;
      }
    }

    &__button {
      position: absolute;
      background: transparent;
      border-color: $font-color-3;
      color: $font-color-4;
      bottom: 38px;
      left: 0;
      transform: translateX(50%);

      @include respond-to('mobile') {
        display: none;
      }

      @include respond-to('tablet') {
        display: none;
      }

      &--last {

        @include respond-to('mobile') {
          display: block;
          bottom: unset;
          top: calc(100% + 40px);
          transform: translateX(0);
          margin-left: auto;
          right: 0;
          margin-right: auto;
        }

        @include respond-to('tablet') {
          display: block;
          bottom: unset;
          top: calc(100% + 40px);
          transform: translateX(0);
          margin-left: auto;
          right: 0;
          margin-right: auto;
        }
      }
    }
  }
}