.refs {
  margin-top: 50px;
  position: relative;
  padding-top: 95px;

  &__ball {

    &--1 {
      width: 373px;
      height: 373px;
      top: 113px;
      left: -120px;

      @include respond-to('mobile') {
        display: none;
      }

      @include respond-to('tablet') {
        display: none;
      }
    }

    &--2 {
      width: 373px;
      height: 373px;
      top: 23px;
      right: 506px;

      @include respond-to('mobile') {
        display: none;
      }

      @include respond-to('tablet') {
        display: none;
      }
    }

    &--3 {
      width: 97px;
      height: 97px;
      bottom: 222px;
      right: 52px;

      @include respond-to('mobile') {
        display: none;
      }

      @include respond-to('tablet') {
        display: none;
      }
    }
  }

  &__photo {
    width: 370px;
    height: 507px;
    position: relative;

    &--mobile {
      width: 100%;
      height: 446px;

      @include respond-to('tablet') {
        height: 546px;
      }
    }

    @include respond-to('laptop') {
      width: 32%;
      height: 365px;
    }

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: $bg-color-3;
      transition: all .3s ease;

      @include respond-to('mobile') {
        display: none;
      }

      @include respond-to('tablet') {
        display: none;
      }
    }

    &:hover:after {
      background: rgba(0,0,0,0);
    }

    &--1 {
      background: url("../img/ref1.png") no-repeat center center;
      background-size: cover;

      @include respond-to('tablet') {
        background-size: contain;
      }

      @include respond-to('laptop') {
        background-size: contain;
      }
    }

    &--2 {
      background: url("../img/ref2.png") no-repeat center center;
      background-size: cover;

      @include respond-to('tablet') {
        background-size: contain;
      }

      @include respond-to('laptop') {
        background-size: contain;
      }
    }

    &--3 {
      background: url("../img/ref3.png") no-repeat center center;
      background-size: cover;

      @include respond-to('tablet') {
        background-size: contain;
      }

      @include respond-to('laptop') {
        background-size: contain;
      }
    }

    &--4 {
      background: url("../img/ref4.jpg") no-repeat center center;
      background-size: cover;

      @include respond-to('tablet') {
        background-size: contain;
      }

      @include respond-to('laptop') {
        background-size: contain;
      }
    }

    &--5 {
      background: url("../img/ref5.jpg") no-repeat center center;
      background-size: cover;

      @include respond-to('tablet') {
        background-size: contain;
      }

      @include respond-to('laptop') {
        background-size: contain;
      }
    }

    &--6 {
      background: url("../img/ref6.jpg") no-repeat center center;
      background-size: cover;

      @include respond-to('tablet') {
        background-size: contain;
      }

      @include respond-to('laptop') {
        background-size: contain;
      }
    }

    &--7 {
      background: url("../img/ref7.jpg") no-repeat center center;
      background-size: cover;

      @include respond-to('tablet') {
        background-size: contain;
      }

      @include respond-to('laptop') {
        background-size: contain;
      }
    }

    &__wrapper {
      margin-top: 40px;
      position: relative;
      z-index: 2;
      display: flex;
      justify-content: space-between;

      @include respond-to('mobile') {
        display: none;
      }

      @include respond-to('tablet') {
        display: none;
      }

      @include respond-to('laptop') {
        margin-top: 20px;
      }

      &--mobile {
        display: none;
        overflow-x: hidden;
        position: static;

        @include respond-to('mobile') {
          display: block;
        }

        @include respond-to('tablet') {
          display: block;
        }
      }
    }
  }
}