.stats {
  position: relative;
  margin-top: 40px;
  padding-top: 95px;

  @include respond-to('mobile') {
    margin-top: 80px;
  }

  @include respond-to('tablet') {
    margin-top: 80px;
  }

  &__ball--1 {
    width: 497px;
    height: 497px;
    top: 10px;
    left: -142px;

    @include respond-to('mobile') {
      width: 215px;
      height: 215px;
      left: -144px;
      bottom: 550px;
      top: unset;
    }

    @include respond-to('tablet') {
      width: 215px;
      height: 215px;
      left: -144px;
      bottom: 550px;
      top: unset;
    }
  }

  &__ball--2 {
    width: 82px;
    height: 82px;
    top: 154px;
    right: 100px;

    @include respond-to('mobile') {
      width: 215px;
      height: 215px;
      right: -140px;
      bottom: 50px;
      top: unset;
    }

    @include respond-to('tablet') {
      width: 215px;
      height: 215px;
      right: -140px;
      bottom: 50px;
      top: unset;
    }
  }

  &__ball--3 {
    display: none;
    width: 215px;
    height: 215px;
    right: -150px;
    top: 760px;

    @include respond-to('mobile') {
      display: block;
    }

    @include respond-to('tablet') {
      display: block;
    }
  }

  &__card__wrapper {
    margin-top: 40px;
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    justify-content: center;

    @include respond-to('mobile') {
      display: flex;
      flex-direction: column;
    }

    @include respond-to('tablet') {
      display: flex;
      flex-direction: column;
      margin-top: 0;
      grid-gap: 0 ;
    }

    @include respond-to('laptop') {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }

  &__card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 270px;
    height: 180px;
    font-family: $font-1;
    backdrop-filter: blur(5px);
    transition: all .4s ease;
    user-select: none;

    &:hover {
      transform: scale(1.1);
      background: rgba(28,28,28,.81);
      border-radius: 7px;
      box-shadow: 0 5px 25px 3px rgba(255, 255,255,.1);

      @include respond-to('tablet') {
        transform: unset;
        background: unset;
        border-radius: 0;
        box-shadow: unset;
      }

      @include respond-to('mobile') {
        transform: unset;
        background: unset;
        border-radius: 0;
        box-shadow: unset;
      }
    }

    @include respond-to('mobile') {
      height: 213px;
      width: unset;
    }

    @include respond-to('tablet') {
      height: 190px;
      width: unset;
    }

    &__text {
      position: relative;
      z-index: 3;
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      font-weight: 300;
      color: $font-color-5;
      height: 50%;

      @include respond-to('mobile') {
        width: 70%;
      }

      @include respond-to('tablet') {
        width: 70%;
        font-size: 22px;
      }
    }

    &__digit {
      position: absolute;
      font-weight: bold;
      font-size: 144px;
      line-height: 213px;
      background: linear-gradient(180deg, rgba(179, 8, 67, 0.78) 0%, rgba(18, 18, 18, 0.26) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @include respond-to('tablet') {
        font-size: 160px;
      }
    }
  }
}