.tabs {
  margin-top: 100px;
  position: relative;

  @include respond-to('laptop') {
    margin-top: 40px;
  }

  .content__wrapper {
    text-align: center;

    @include respond-to('mobile') {
      display: flex;
      flex-direction: column;
    }

    @include respond-to('tablet') {
      display: flex;
      flex-direction: column;
    }
  }
  
  &__button {
    margin-top: 50px;

    @include respond-to('mobile') {
      margin: 50px auto 0 auto;
    }

    @include respond-to('tablet') {
      margin: 50px auto 0 auto;
    }
  }

  &__ball {

    &--1 {
      width: 131px;
      height: 131px;
      top: 337px;
      left: 68px;

      @include respond-to('mobile') {
        display: none;
      }

      @include respond-to('tablet') {
        display: none;
      }
    }

    &--2 {
      width: 448px;
      height: 448px;
      top: 98px;
      left: 555px;

      @include respond-to('mobile') {
        display: none;
      }

      @include respond-to('tablet') {
        display: none;
      }
    }

    &--3 {
      width: 215px;
      height: 215px;
      bottom: 132px;
      right: -32px;

      @include respond-to('mobile') {
        display: none;
      }

      @include respond-to('tablet') {
        display: none;
      }
    }

    &--4 {
      width: 373px;
      height: 373px;
      top: 54px;
      right: -253px;

      @include respond-to('mobile') {
        display: none;
      }

      @include respond-to('tablet') {
        display: none;
      }
    }

    &--5 {
      width: 373px;
      height: 373px;
      bottom: 252px;
      left: 253px;

      @include respond-to('mobile') {
        display: none;
      }

      @include respond-to('tablet') {
        display: none;
      }
    }

    &--6 {
      width: 497px;
      height: 497px;
      bottom: 492px;
      right: 225px;

      @include respond-to('mobile') {
        display: none;
      }

      @include respond-to('tablet') {
        display: none;
      }
    }
  }

  &__wrapper {
    position: relative;
    z-index: 2;
    width: 78%;
    display: flex;
    justify-content: space-between;

    @include respond-to('mobile') {
      display: none;
    }

    @include respond-to('tablet') {
      display: none;
    }

    @include respond-to('laptop') {
      width: 70%;
    }

    @include respond-to('desktop') {
      width: 62%;
    }
  }

  &__header {
    padding: 25px 40px;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: $font-color-1;
    font-family: $font-2;
    background: $bg-color-2;
    user-select: none;

    @include respond-to('laptop') {
      font-size: 14px;
      line-height: 18px;
      padding: 15px;
    }

    @include respond-to('desktop') {
      font-size: 16px;
      line-height: 18px;
      padding: 20px;
    }

    &--active {
      position: relative;
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        width: 100%;
        height: 10px;
        background: $bg-color-2;
      }
    }
  }

  &__article {
    position: relative;
    z-index: 2;
    display: none;
    margin-top: 10px;
    padding: 40px;
    background: $bg-color-2;
    box-sizing: border-box;
    text-align: left;

    &__more {
      display: none;
      position: absolute;
      left: 0;
      bottom: -40px;
      font-weight: bold;
      font-size: 16px;
      line-height: 18px;
      color: $font-color-3;
      font-family: $font-2;

      @include respond-to('mobile') {
        display: block;
      }

      @include respond-to('tablet') {
        display: block;
      }
    }


    @include respond-to('mobile') {
      display: block;
      background: transparent;
      padding: 0;
      margin-top: 0;
      margin-bottom: 60px;
    }

    @include respond-to('tablet') {
      display: block;
      background: transparent;
      padding: 0;
      margin-top: 0;
      margin-bottom: 60px;
    }

    &__text {

      @include respond-to('mobile') {
        max-height: 144px;
        overflow-y: hidden;
        position: relative;
        transition: max-height .3s ease;

        &:after {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(180deg, rgba(0,0,0,.1) 20%, rgba(0,0,0,.9) 98%);
        }

        &--active:after {
          display: none;
        }
      }

      @include respond-to('tablet') {
        max-height: 144px;
        overflow-y: hidden;
        position: relative;
        transition: max-height .3s ease;

        &:after {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(180deg, rgba(0,0,0,.1) 20%, rgba(0,0,0,.9) 98%);
        }

        &--active:after {
          display: none;
        }
      }
    }

    .article__title {

      @include respond-to('mobile') {
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
      }

      @include respond-to('tablet') {
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
      }
    }

    &:after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-bottom: 54px solid $font-color-4;
      border-left: 54px solid transparent;

      @include respond-to('mobile') {
        display: none;
      }

      @include respond-to('tablet') {
        display: none;
      }
    }

    &--active {
      display: block;
    }

    &__list {
      list-style: inside;
      margin-bottom: 40px;
    }

    &__text > p {
      margin-bottom: 40px;

      @include respond-to('mobile') {
        margin-bottom: 0;
        font-size: 16px;
        line-height: 18px;
        width: 82%;
      }

      @include respond-to('tablet') {
        margin-bottom: 0;
        font-size: 16px;
        line-height: 18px;
        width: 82%;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}