.videocontent {
  margin-top: 85px;
  position: relative;

  &__button {

    &:last-child {

      @include respond-to('mobile') {
        margin-top: 10px;
      }
    }
  }

  &__btn__wrapper {
    display: flex;
    margin: 20px auto 0 auto;
    width: 80%;
    justify-content: space-between;
    position: relative;
    z-index: 2;

    @include respond-to('mobile') {
      width: 100%;
      flex-direction: column;
      align-items: center;
    }

    @include respond-to('tablet') {
      width: 100%;
    }
  }

  &__ball {

    &--1 {
      width: 487px;
      height: 487px;
      left: 156px;
      top: 99px;

      @include respond-to('mobile') {
        display: none;
      }

      @include respond-to('tablet') {
        display: none;
      }
    }

    &--2 {
      width: 670px;
      height: 670px;
      right: 127px;
      top: 0;

      @include respond-to('mobile') {
        display: none;
      }

      @include respond-to('tablet') {
        display: none;
      }
    }
  }

  &__video__wrapper {
    margin-top: 40px;
    height: 624px;
    position: relative;
    z-index: 2;

    @include respond-to('mobile') {
      height: 252px;
    }

    @include respond-to('tablet') {
      height: 352px;
    }

    @include respond-to('laptop') {
      height: 465px;
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: $bg-color-3;
    }
  }
}

.play {
  width: 107px;
  height: 107px;
  background: $font-color-3;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  cursor: pointer;

  &:hover .triangle {
    border-left: 36px solid $font-color-1;
  }
}

.triangle {
  transition: all .3s ease;
  margin-left: 10px;
  border-top: 22px solid transparent;
  border-left: 36px solid #fff;
  border-bottom: 22px solid transparent;
  border-radius: 5px;
}

.iframe__preview {
  width: 100%;
  height: 100%;
}