@import "abstracts/abstarcts";
@import "base/base";
@import "components/components";
@import "pages/index";

html {
  scroll-behavior: smooth;
}

body {
  background: #000000;
  scroll-behavior: smooth;
  font-weight: 300;
}

.container {
  overflow-x: hidden !important;
}

.section__title {
  font-family: $font-2;
  color: $font-color-1;
  font-size: 36px;
  font-weight: 300;
  position: relative;
  z-index: 2;

  @include respond-to('mobile') {
    font-size: 24px;
    line-height: 34px;
    text-align: center;
  }

  @include respond-to('tablet') {
    font-size: 28px;
    line-height: 34px;
    text-align: center;
  }

  @include respond-to('laptop') {
    font-size: 36px;
    line-height: 48px;
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: -20px;
    width: 87px;
    height: 3px;
    background: $font-color-3;

    @include respond-to('mobile') {
      top: -10px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }

    @include respond-to('tablet') {
      top: -10px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.content__wrapper {
  width: 60%;
  margin: 0 auto;
  height: 100%;

  @include respond-to('mobile') {
    width: 80%;
  }

  @include respond-to('tablet') {
    width: 80%;
  }

  @include respond-to('laptop') {
    width: 80%;
  }

  @include respond-to('desktop') {
    width: 80%;
  }
}

.hide {
  display: none;
}